.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  